@font-face {
    font-family: 'nanum';
    src: url('./fonts/NanumGothic-Regular.ttf')
}

body {
    background-color:ghostwhite;
    font-family: nanum;
    font-size: 16px;
    height: 200vh;
}

h1, h2 {
    text-align: center;
}

button {
    padding: .6rem;
    border: 1px solid transparent;
    border-radius: 15px;
}

button:hover {
    border: 1px solid gray;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;
    padding: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    perspective: 1000px;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-height: 100px;
}

  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    font-size: 3rem;
}   

.flip-card-back {
    transform: rotateY(180deg);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rainy {
    background: url('./images/rainy.jpg');
    color: white;
}

.cloudy {
    background: url('./images/cloudy.webp');
}

.clear {
    background: url('./images/clear.webp');
    color: white;
}

.snowy {
    background: url('./images/snowy.jpg');
}

.error {
    background-color: black;
}

.error h2 {
    color: white;
}

.remove-button {
    cursor: pointer;
    display: flex;
}

.remove-container {
    display: flex;
    justify-content: flex-end;
}


input[type='text'] { 
    padding: .5rem 1rem;
    border-radius: .5rem; 
}